body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container-fluid{
    background-color: #ffd300;
    color: #343A40;
}
#nav2{
    margin-top: 4.5%;
    font-size: small;
}

#nav2{
   text-align: right;
   font-size: small;
}
.label{
    font-size: medium;
}

/* Styles for wrapping the search box */
.input-group{
    width: 50%;
    margin-left: 10%;
}
.main {
    width: 50%;
    margin: 50px auto;
}
.has-search .form-control {
    padding-left: 2.375rem;
}
.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #ffd300;
}
/* end of search box style */

/* Dropdown Button */
.dropbtn {
    background-color: #343A40;
    color: #ffd300;
    padding-left: 5%;
    font-size: small;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
      font-size: small;
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-align: left;
    display: block;
    font-size: small;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  


  /* End of Dropdown Button */

#content{
    /* Location of the image */
  background-image: url(../images/shop2.jpg);
  
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;

  height:600px;
  
}
h1{
    color: #f1f1f1;
    font-weight: 1000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
}
h4{
    margin-right: 10%;
    text-align: right;
    color: #ffd300;
}